<div class="container">
  <div class="jumbotron">
      <h1 class="display-3 text-center">CONTACTO</h1>
      <p class="text-center"></p>
      <hr>
      <div class="col-md-1">
      </div>
  </div>
</div>

<div class="centrar">
<form  >
  <!-- action="https://formsubmit.co/gerardocornalo@gmail.com" method="POST" -->
   
    <div class=" imput-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" placeholder="Nombre">

    <label for="phone">Telefono:</label>
    <input type="tel" id="phone" name="phone" placeholder="Telefono">

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" placeholder="Email">

    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" cols="30" rows="5" placeholder="Mensaje"></textarea>

    

    <input class="btn" type="submit" value="Enviar">
     <input type="hidden" name="_next" value="http://localhost:4200/" >
     <input type="hidden" name="_captcha" value="false">
    </div>
  </form>
</div>
